@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap");
* {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Ubuntu', sans-serif;
	background-size: cover;
	background-repeat: no-repeat;

}

.bg {
  background-image: url("https://tokyobxy.carrd.co/assets/images/bg.gif?v=8740f661");

} 


#content {
	display: flex;
	align-items: center;
	justify-content: center;
    height: 100vh;
}

#center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.media {
	border: 3px solid #ffffff;
	background-color: none;
	text-align: center;
	padding: 14px;
	margin-top: 20px;
  line-height: 24px;
	border-radius: 15px;
  position: relative;
	transition: all 400ms ease;
  box-sizing: border-box;
	width: 250px;
  font-size: 17px;
  color: white;
}

.efct {
  background-color: black
}

.efct:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 52px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  transition: all 2s ease;
}

.efct:hover:before {
  width: 100%;
}

#media:hover {
	background-color: #ffffff;
	color: #000;
	background-size: cover;
	background-repeat: no-repeat;
}

#name {
	text-align: center;
	font-size: 50px;
	margin-top: 10px;
	color: #fff;
      z-index: 1;
	margin-bottom: 5px;
	text-shadow: 0px 0px 20px #00000080;
	margin-left: -28px;
}

#subname {
	text-align: center;
	font-size: 15px;
	margin-top: 10px;
	color: #fff;
	margin-bottom: 20px;
  margin-top: -13px;
	text-shadow: 0px 0px 20px #00000080;
}

#avatar {
	width: 200px;
  margin-bottom: -12px;
	height: 200px;
	background: rgb(56, 56, 56);
	border-radius: 300px;
	background-size: 100%;
  border: 0px solid #fff;
	
}
 
body{ 
  background-image: url("https://tokyobxy.carrd.co/assets/images/bg.gif?v=8740f661");
}

.bg-op{
  background-color: rgb(0 0 0 / 90%);
}

.borda-avatar {
    background-image: url(https://storage.googleapis.com/gamely-storage/rose.gif);
    z-index: 7;
    width: 220px;
    height: 220px;
    margin-left: -15px;
    margin-top: -15px;
}

#divider01 {
    width: 330px;
    border-top: solid 1px #FFFFFF;
    height: 1px;
    margin-top: -1px;
}


.dev-badge img {
  max-width:24px;
  max-height:150px;
  width: auto;
  height: auto;
  display: block;
  margin-top: -38px;
  margin-left: 176px;
}




